
.footer-frame {
    color: white;
    background-color: #232F3E; //#37475A
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    padding: 30px;

    
    #col-1 {


        #footer-item-header {
            font-size: small;
            font-weight: 700;
        }

        #footer-item {
            color: white;
            text-decoration: none;
            cursor: pointer;
            font-size: smaller;
            font-weight: 500;
            margin-bottom: 3px;
        }

        #footer-item:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    #col-2 {


        #footer-item-header {
            font-size: small;
            font-weight: 700;
        }

        #footer-item {
            cursor: pointer;
            font-size: smaller;
            font-weight: 500;
            margin-bottom: 3px;

        }

        #footer-item:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        #payment-cards {

            #card-items {
                cursor: pointer;
                display: flex;
                gap: 8px;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }

    #col-3 {


        #footer-item-header {
            font-size: small;
            font-weight: 700;
        }

        #footer-item {
            cursor: pointer;
            font-size: smaller;
            font-weight: 500;
            margin-bottom: 3px;

        }

        #footer-item:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    #col-4 {


        #footer-item-header {
            font-size: small;
            font-weight: 700;
        }

        #footer-item {
            cursor: pointer;
            font-size: smaller;
            font-weight: 500;
            margin-bottom: 3px;

        }

        #footer-item:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    
}