

.signing-frame {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #171f29;
    border-width: 1dvb;
    border-top-color: aliceblue;
    color: white;
    justify-content: center;
    align-items: center;

    #signing-item {
        font-size: smaller;
        font-weight: 400;
    }

    #row-1 {
        display: flex;
        flex-direction: row;
        gap: 8px;


        #signing-item {
            font-size: smaller;
            font-weight: 400;
        }

        #signing-item:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}