.checkout-container {
    color: black;
    background-color: #eeeeee;

    .header-section {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #fff;
    }

    .agreement {
        background-color: white;
        padding-block: 5px;
        padding-inline: 15px;
        font-size: xx-small;
    }

    .sec-1 {
        padding-inline: 15px;
        background-color: #fff;


    }

    .sec-3 {
        display: flex;
        align-items: center;
        padding-inline: 15px;
        padding-block: 5px;
        background-color: #fff;

    }

    .sec-4 {
        align-items: center;
        padding-inline: 15px;
        padding-block: 5px;
        background-color: #fff;

        .inner-details {
            display: flex;
            align-items: center;
        }

    }

    .sec-2 {
        padding-inline: 15px;
        background-color: #fff;

        .input-sec {
            display: flex;
            flex: 1;
            color: black;
            border-color: rgb(153, 152, 152);
            border-width: 1px;
            border-style: solid;
            height: 35px;
            border-radius: 1px;
            margin-right: 10px;
            

            .input {
                display: flex;
                flex: 1;
                border: none;
                background-color: transparent;

            }
        }

        
    }

    
    .cfm-order {
        // width: 100%;
        position: sticky;  
        bottom: 0;  
        color: #ffffff; 
        font-weight: 600;  
        background-color: orange;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 12px;
        font-size: 12px;
        border-radius: 3px;
        margin-inline: 15px;
        cursor: pointer;
    }

}