
.d-cart-frame {
    color: black;
    
    .d-cart-header {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 1;

        .dir-tracker {
            padding-block: 16px;
            font-size: smaller;
            padding-inline: 70px;
            color: gray;
        }
    }

    .d-cart-body {
        padding-inline: 70px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        
        
        .cb-left {
            margin-right: 50px;
            // height: 700px;
            // background-color: #dadada;

            .shipping-details {
                // display: grid;
                // grid-template-columns: 1fr 1fr;
                display: flex;
                justify-content: space-evenly;
                padding-bottom: 8px;
                
                .c-one {
                    // background-color: #eeeeee;
                    flex: 1;
                    // border-bottom: 1px rgb(231, 231, 231) solid;

                }
                .c-two {
                    // background-color: #a4a4a4;
                    flex: 1;
                }
            }

            .cart-items-container {
                overflow-y: auto;

                .cart-item-card {
                    display: flex;
                    height: 140px;
                    // background-color: #ededed;
                    margin-block: 20px;
                    border-bottom: 1px rgb(231, 231, 231) solid;

                    .select-section{
                        display: flex;
                        padding-right: 10px;
                        align-items: center;

                    }
                    .img-container {
                        height: 130px;
                        width: 130px;
                        background-color: #f3f3f3;
                        
                    }
                    .details-container {
                        margin-left: 12px;
                        width: 53vw;
                        // background-color: #ffc8c8;

                        .name-n-del {
                            display: flex;
                            justify-content: space-between;
                            font-size: small;
                            // padding-left: 8px;
                        }

                        .store-n-price {
                            display: flex;
                            justify-content: space-between;
                            margin-top: 8px;
                        }

                        .discount-sec {
                            display: flex;
                            justify-content: space-between;
                        }
                        .three-btns {
                            display: flex;
                            position: relative;
                            margin-top: 12px;
                            justify-content: flex-end;
                            align-items: center;
                            cursor: pointer;
            
            
                            .itm-btn {
                                padding-inline: 8px;
                                color: #fff;
                                background-color: orangered;
                                font-size: medium;
                                border-radius: 2px;
                                
                            }
            
                            .count {
                                padding-inline: 30px;
                                cursor: default;
                            }
                        }

                    }

                }
            }
        }

        .cb-right {
            // background-color: #ff9a9a;
            margin-top: 5px;
            border-radius: 8px;
            box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.184);
            padding: 16px;
            white-space: nowrap;

            .coupon-card {
                display: flex;
                margin-top: 12px;
                margin-bottom: 5px;

                .coupon-container {
                    display: flex;
                    align-items: center;
                    flex: 1;
                    height: 30px;
                    background-color: #fff;
                    border: 1px solid rgb(191, 191, 191);
                    border-radius: 5px;

                    .coupon {
                        height: 100%;
                        border: none;
                        width: 100%;
                        padding-inline: 8px;
                        color: black;
                        font-size: smaller;
                        background-color: #f3f3f300;
                    }

                }
                .coupon-apply {
                    display: flex;
                    align-items: center;
                    font-size: x-small;
                    font-weight: 400;
                    box-shadow: 0px 0px 1px 1px rgb(180, 180, 180);
                    border: 1px solid rgb(231, 231, 231);
                    margin-left: 12px;
                    border-radius: 5px;
                    background-color: #fff;
                    padding-inline: 5px;
                    height: 30px;

                }
            }

            .right-header {
                font-weight: 500;
                font-size: 18px;
                margin-bottom: 8px;
            }

            .price-item {
                display: flex;
                justify-content: space-between;
                font-size: small;
                padding-top: 8px;
                font-weight: 300;
                // font-style: italic;
            }

            .submit-button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-block: 20px;
                font-size: 14px;
                font-weight: 600;
                color: whitesmoke;
                background-color: rgba(255, 69, 0, 0.9);
                cursor: pointer;
                padding: 12px;
                border-radius: 6px;

                &:hover {
                    background-color: rgba(255, 68, 0, 0.779);
                }

            }

        }
        

    }
    
    
}