 .main-home-page {
    flex-direction: column;

    .ad-section {
      height: fit-content;
      background-color: orange;
    }

    .header-section {
      position: sticky;
      top: 0;
      background-color: #fff;
      // z-index: 1000;
      padding-inline: 10px;
    }



 }