.main-home-area {
    display: flex;
    flex-direction: column;
    }

    @media screen and (min-width: 320px) {
        .desktop {
            display: none; /* hide desktop content on mobile */
        }
        .mobile {
            display: block; /* hide mobile content on desktop */
        }
    }

    @media screen and (min-width: 380px) {
        .desktop {
            display: none; /* hide desktop content on mobile */
        }
        .mobile {
            display: block; /* hide mobile content on desktop */
        }
    }

    @media screen and (min-width: 425px) {
        .desktop {
            display: none; /* hide desktop content on mobile */
        }
        .mobile {
            display: block; /* hide mobile content on desktop */
        }
    }

    @media screen and (min-width: 768px) {
        .desktop {
            display: block; /* hide desktop content on mobile */
        }
        .mobile {
            display: none; /* hide mobile content on desktop */
        }
    }

  