.main-promo-section {

    background-color: #bc1313;
    margin-top: 6px;

    .c-list {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;

        .promo-card {
            width: 25vw;
            background-color: #fff;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-inline: 5px;
            margin-bottom: 5px;
            border-radius: 8px;
    
        }
    }
}