
.add-item-frame {
    color: black;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input {
        background-color: #fff;
        height: fit-content;
        margin: 10px;
        padding: 5px;
        color: black;
        font-size: large;
    }
}