
.main-more-section {
  color: black;
  

  .more-list {

      display: flex;
      flex-wrap: wrap;
      .item-card{
        overflow: hidden;
      }
      // gap: 1px;

      @media screen and (min-width: 320px) {
        .item-card {
          width: 48vw;

          .image-card {
            height: 130px;

          }
        }
        
      }

      @media screen and (min-width: 380px) {
        .item-card {
          width: 48vw;

          .image-card {
            height: 140px;

          }
        }
        
      }

      @media screen and (min-width: 425px) {
        .item-card {
          width: 48vw;
          
          .image-card {
            height: 150px;

          }
        }
        
      }

      @media screen and (min-width: 768px) {
        .item-card {
          width: 32vw;

          .image-card {
            height: 170px;

          }
        }
        
      }


  }

  .add-cart {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border-radius: 3px;
    top: 0;
    z-index: 300;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    background-color: #02a315;
    color: white;
}
  
    
}