.main-search-page {
    display: flex;
    flex-direction: column;
    // justify-content: center;

    .bar {
        display: flex;
        flex: 1;
        width: 85vw;
        color: black;
        border-radius: 30px;
        padding-inline: 5px;
        gap: 8px;
        align-items: center;
        padding-block: 10px;

        .input-bar {
            // display: flex;
            // flex: 1;
            // color: black;
            // background-color: #ececec;
            // border-color: white;
            // border-style: hidden;

            // height: 50px;

            
        }
        input[type="search"] {
            width: 100%;
            height: 40px;
            color: #707070;
            margin-right: 10px;
            border: none;
            outline: none;
            background-color: rgb(241, 241, 241); /* Make the input background transparent */
            font-size: 16px; /* Adjust font size as needed */
            border-radius: 30px;
            padding-inline: 10px;
        }

        input[type="search"]::-webkit-search-clear-button {
            -webkit-appearance: none;
            appearance: none;
            background-color: #707070;
            border-radius: 50%;
            color: black;
            font-size: 14px;
            cursor: pointer;
        }

        
    
    }

    .history {
        color: black;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        
  
        .history-item {
          font-size: x-small;
          width: fit-content;
          color: #000000;
          background-color: #f2f2f2;
          padding-inline: 10px;
          padding-block: 5px;
          border-radius: 20px;
        }
      }
  
        .suggestion {
          color: black;
          gap: 10px;
          border: #535353;
          padding: 10px;
          
    
          .suggestion-item {
            color: black;
            // font-size: x-small;
            
          }
      }
}