.d-header-frame {
    color: black;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-block: 10px;
    padding-inline: 50px;
    flex: 1;
    border-bottom: solid 1px rgb(232, 231, 231) ;
    // border-bottom-width: 1px;
    // border-bottom-color: rgb(238, 238, 238);

    .logo {
      text-decoration: none;
        width: fit-content;
        padding-inline: 5px;
        font-weight: bolder;
        height: 45px;
        color: white;
        font-size: x-small;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(241, 112, 0);
        border-radius: 8px;
    }

    .logo:hover {
      cursor: pointer;
      box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.2);

    }
    
    .d-header-item {
        color: rgba(0, 0, 0, 0.816);
        font-size: 13px;
        font-weight: 500;
        white-space: nowrap;
        text-decoration: none;
        padding: 8px;

        position: relative;
        // display: inline-block;
        
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f900;
            // top: 20px;
            //   min-width: 160px;
            // padding: 12px 16px;
            z-index: 10;
          
            .d-content {
              display: flex;
              position: relative;
              background-color: #fff;
              padding-inline: 10px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              top: 23px;
              right: 200px;


              .d-content-1{
                border-right: #bcbcbc solid 2px ;
                margin-block: 12px;
                padding-inline-end: 10px;
                height: 400px;
                overflow-y: scroll;
                scrollbar-width: 1px;
                
                
                .c-name {
                  font-size: small;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  color: #6b6b6b;
                  padding: 3px;
                  margin-block: 4px;
                  background-color: #fafafa;
                  min-width: 160px;
                }
                .c-name:hover {
                  background-color: #ebebeb;
                }
                
              }
              
              .c-subs {
                margin-block: 16px;
                display: flex;
                flex-wrap: wrap;
                gap: 12px;
                width: 500px;
                height: 400px;
                overflow-y: auto;
              }
            }
          }
        
    }

    .d-header-item:hover {
      background-color: #f9f9f9;
      border: #f6f6f6 1px solid ;
      border-radius: 16px;
      cursor: pointer;
      box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);

    }
    
    .d-header-item:hover .dropdown-content {
      display: block;
    }

    .d-header-item-search {
        height: 32px;
        border-style: solid;
        border-width: 2px;
        border-color: rgba(0, 0, 0, 0.699);
        border-radius: 30px;
        display: flex;
        flex: 1;
        align-items: center;
        padding: 1px;

        .s-button {
            background-color: black;
            width: 25px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-inline: 5px;
            border-radius: 30px;
        }

        .dropdown-content {
          display: none;
          position: relative;
          // background-color: #f9f9f900;
          top: 33px;
          //   min-width: 160px;
          // padding: 12px 16px;
          z-index: 10;
        
          .d-content {
            position: absolute;
            background-color: #fff;
            padding-inline: 40px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            width: 450px;
            right: 0;
            left: auto;


            .d-content-2{
              display: flex;
              gap: 20px;
              flex-wrap: wrap;
              margin-bottom: 20px;

              .txt1-header {
                font-size: small;
              }

              .txt2-body {
                cursor: pointer;
                font-size: smaller;
                padding: 4px;
                // margin: 5px;
                border-radius: 6px;
                background-color: #eeeeee;
              }

              .txt2-body:hover {
                border: 1px rgb(212, 212, 212) solid;
              }

            }

          }
        }
    }
      
}