.sub-header-frame {


    .upper-cat {
        display: flex;
        gap: 20px;
        color: black;
        overflow-x: auto;
        font-size: xx-small;
        font-weight: 600;
        color: grey;
        padding-inline-start: 5px;
        margin-block: 10px;
        // color: rgb(244, 244, 244);
        // color: rgb(255, 244, 223);
    }
}