.d-listings-frame {


  .add-cart-notif {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    border-radius: 3px;
    right: 0px;
    top: 0;
    height: 60px;
    z-index: 300;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    background-color: #000000d5;
    color: white;
}

  .s-cats-section {
    display: flex;
    overflow-y: auto;
    gap: 30px;
    margin-block: 20px;
    margin-inline: 80px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }


  .main-body-section {

    .listing-section {
      position: sticky;
      top: 150px; 
      overflow-y: auto;
      display: grid;
      grid-template-columns: 1fr 4fr;
      padding-inline: 40px;
      margin-bottom: 40px;

        
        .i-section-contents {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          margin-top: 30px;


            .i-card {
                min-width: 180px;
                max-width: 210px;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;

                .i-card-image{
                    min-width: 180px;
                    max-width: 210px;
                    height: 200px;
                    border-radius: 6px;
                    background-color: #ffffff;

                    img{
                      border-radius: 6px;
                    }
                }

                    .i-name {
                        font-size: small;
                        color: black;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .i-price {
                        color: rgb(255, 111, 0);
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 1px;
                    }
    
                    .rating-n-cart {
                        color: black;
                        line-height: 0.5px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
    
                    }

            }
        }
  
      .filters {

        #filter-form {
          color: black;

          .filter-option {
            margin-bottom: 15px;
          
            h4 {
              margin-top: 0;
              font-weight: bold;
              font-size: small;
              color: rgba(0, 0, 0, 0.842);
            }
          
            input[type="range"] {
              width: 70%;
              /* Change the color of the range input */
              &::-webkit-slider-thumb {
                background-color: orange; /* Change to desired color */
              }
            }
          
            input[type="checkbox"] {
              /* Hide the default checkbox */
              appearance: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              width: 20px;
              height: 20px;
              border: 1px solid black; /* Thin black border */
              border-radius: 50%; /* Round shape */
              outline: none;
              cursor: pointer;
          
              &:checked {
                background-color: black; /* Change to black when selected */
                
                &:after {
                  content: "\2713"; /* Unicode checkmark character */
                  color: white; /* White checkmark */
                  font-size: 12px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
            }
          }
        }
      }
  
      #f-header {
        background-color: #fff;
        color: rgba(0, 0, 0, 0.827);
        font-size: large;
        font-weight: bold;
        position: sticky;
        padding-top: 20px;
        top: 20px;
      }

      #i-header {
        background-color: #fff;
        color: rgba(0, 0, 0, 0.827);
        font-size: large;
        font-weight: bold;
        position: sticky;
        padding-top: 20px;
      }
    }
  }
  }
  