.main-footer {
    margin-top: 2px;

    .one {
        color: rgb(232, 224, 224);
        background-color: #374048;
        font-size: xx-small;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-block: 5px;
        border-bottom-width: 1px;
        border-bottom-color: white;
        border-bottom-style: solid;
    }

    .one:hover {
        cursor: pointer;
        background-color: #444f59;
    }

    .two {
        color: rgb(232, 224, 224);
        background-color: #252b31;
        font-size: xx-small;
        font-weight: 700;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-inline: 15px;
        border-bottom-width: 1px;
        border-bottom-color: white;
        border-bottom-style: solid;
    }

    .three {
        color: rgb(200, 193, 193);
        background-color: #1d2126;
        font-size: x-small;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        padding-inline: 15px;
        border-bottom-width: 1px;
        border-bottom-color: white;
        border-bottom-style: solid;
    }
}