.search-section {
  
  

  .search-bar {
      display: flex;
      // width: 20vw;
      color: black;
      border-radius: 30px;
      background-color: #e2e2e2;
      gap: 4px;
      align-items: center;
      border-color: #ececec;
      border-style: solid;

      .input-bar {
          display: flex;
          flex: 1;
          width: 20vw;
          color: black;
          background-color: transparent;
          border-color: white;
          border-style: hidden;

          
      }

      .search-icon {
        padding-inline: 4px;
      }
      
  
  }

       
}