#root {
  
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}


.app-container {
  /* display: flex;
  flex: 1; */
}

.fallback-container {
  position: fixed; /* Use a fixed position to overlay on top of the page content */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent background to overlay on the content */
  z-index: 9999; /* Higher z-index to ensure it appears above other content */

  .spinning-logo {
    animation: spin 2s infinite linear; /* Add spinning animation */
    width: 80px; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    margin-right: 16px; /* Add margin for better appearance */
  }

  h1 {
    color: black;
    background-color: transparent;
    margin-left: 16px; /* Add margin for better appearance */
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




/* const SearchPage = lazy(() => import('./main-pages/search/SearchPage'))
const SearchResults = lazy(() => import('./main-pages/search-results/SearchResults'))
const NotFoundPage = lazy(() => import('./main-pages/notFound/NotFound'))
const MainCart = lazy(() => import('./main-pages/cart/MainCart'))
const MainHome = lazy(() => import('./main-pages/home/MainHome'))

const AdminHome = lazy(() => import('./seller-pages/home-page/AdminHome'))
const AddItem = lazy(() => import('./seller-pages/add-item/AddItem'))
const Account = lazy(() => import('./main-pages/profile/Account'))
const MainDetails = lazy(() => import('./main-pages/details/MainDetails'))
const MainCheckout = lazy(() => import('./main-pages/checkout/MainCheckout'))
const Payment = lazy(() => import('./main-pages/payment/Payment'))
const MainListing = lazy(() => import('./main-pages/listings/MainListing'))
const Login = lazy(() => import('./auth-pages/login/LoginPage'))
const Signup = lazy(() => import('./auth-pages/signup/Signup')) */