// NotFoundPage.scss

.not-found-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    // margin-top: 50px;    

  
  .not-found-heading {
    font-size: 3em;
    color: #333;
  }
  
  .not-found-text {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
  }
  
  .not-found-link {
    text-decoration: underline;
    color: blue;
    font-size: 1.2em;
  }
}
  